@import '../../bower_components/bootstrap/less/bootstrap';
@import '../../bower_components/toastr/toastr';
@import (less) '../../bower_components/magnific-popup/dist/magnific-popup.css';

.header_container{
  padding: 20px;
}

.main_header{
  font-size: 35px;
  margin-top: 10px;
}

.time_container{
  font-size: 15px;
  float: right;
}

.header_container{
  background-color: #eeeeee;
  padding-left: 10px;
  padding-right: 10px;
}

.add_deployment_container{

  margin-top: 20px;
}

.submit_deployment_heading{
  font-size: 15px;
  font-weight: bolder;
}

.submit_deployment_answer{
  color: #ED4747;
}
